body {
    margin: 40;
    font-family: 'Times New Roman', Times, serif, sans-serif;
  }
  
  .container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
  }
  
  header {
    background-color: #FAEED1;
    color: #492d13;
    position: static;
    top: 0;
    z-index: 100;
  }
  
  header h1 {
    font-size: 30px;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    color: #492d13;
    text-decoration: none;
  }
  
  #courses {
    background-color: #f9f9f9;
    padding: 60px 20px; 
    text-align: center;
  }
  
  .course {
    background-color: #DED0B6;
    border-radius: 10px;
    padding: 20px;
    margin: 16px; 
    display:inline-flex;
    padding-bottom: 20px; 
  }
  
  .course h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  #about {
    background-image: url('lanbg.jpg'); 
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 100px 0; 
    text-align: center;
    color: #492d13; 
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
  }
  
  .about-content {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 50px;
  }
  
  .about-img {
    max-width: 100%;
    height: auto;
    border-radius: 50%; 
    margin-bottom: 70px;
  }
#contact {
    background-color:  #beaa83;
  }
  #contact form {
    display: flex;
    flex-direction: column;
  }
  
  #contact input[type="text"],
  #contact input[type="email"] {
    margin-bottom: 10px; 
    width: 160%; 
    padding: 12px; 
    font-size: 16px; 
  }
  
  #contact button[type="submit"] {
    width: 50%; 
    padding: 8px; 
    font-size: 14px; 
  }
  footer {
    background-color: #492d13;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  